#instagram,
#facebook,
#github{
    font-size: 30px;
    color: #fff;
    padding-top: 20px;
    margin-bottom: 0;
}


#instagram:hover{
    color:  #E1306C;
}
#facebook:hover{
    color: #405DE6;
}
#github:hover{
    color: black;
    
}
#footer{
    color: #fff;
    margin-bottom:-0!important;
    padding-bottom: 10px;
}

